@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;

    width: 80%;
    margin: auto;
}
.logo-header{
    width: 250px;
    margin-top: 20px;
}

header nav a{
    padding-left: 40px;
    text-decoration: none;
    color: #172B50;
    
    font-family: 'Arvo', serif;
}
header nav a:hover{
    
    color: #E82840;
    font-size: 22px;
    
}

article{
    width: 70%;
    margin: auto;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
article h1{
    font-size: 27pt;
    color: #172B50;
    font-family: 'Arvo', serif;
}
article h1 span{
    color: #E82840;
}
article p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#acesso-loja{
    position: fixed;
    width: 150px;
    background-color: #172B50;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items:center;

    border-radius: 50px;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15pt;
    
    text-decoration: none;
    color: white;
}
#acesso-loja:hover{
    text-decoration: underline;
    color: rgb(233, 239, 255);
    font-size: 17pt;
    width: 155px;
    height: 52px;
}
footer{
    margin-top: 150px;
    background-color: #172B50;
    padding: 20px 10px 50px 20px;
}
.frase_patroci{
    text-align: center;
    color: rgb(215, 215, 215);
    font-size: 17pt;
    margin-top: 30px;

    padding-left: 35px;
}
.patroci{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.089);

    margin: auto;

    width: 80%;

    

    margin-top: 200px;
}
footer nav{
    margin-top: 20px;
    text-align: center;
}
footer nav a{
    padding-left: 40px;
    text-decoration: none;
    color: #ffffff;
    
    font-family: 'Arvo', serif;
    
}
footer nav a:hover{

    text-decoration: underline;
    font-size: 17px;
    
}
.nav_social{
    display: flex;
    flex-direction: column;
}
.logo-github{
    width: 50px;
}
#caixa_github{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    font-family: 'Arvo', serif; 
}
