@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

html, body{
    margin: 0;
    padding: 0;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;

    width: 80%;
    margin: auto;
}
.logo-header{
    width: 250px;
    margin-top: 20px;
}
header nav{
    width: 600px;
    display: flex;
    justify-content: space-around ;
    
}
header nav a{
    
    text-decoration: none;
    color: #172B50;
    
    font-family: 'Arvo', serif;
}
header nav a:hover{
    
    color: #E82840;
    
    
}

article{
    width: 70%;
    margin: auto;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
article h1{
    font-size: 27pt;
    color: #172B50;
    font-family: 'Arvo', serif;
}
article h1 span{
    color: #E82840;
}
article p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer{
    width: 100%;
    margin-top: 150px;
    background-color: #172B50;
    padding: 20px 0px 30px 0px;
}
@media (max-width: 1123px) {
    .patroci img{
        width: 50%;
    }
    .patroci{
        width: 100%;
    }
}
@media (min-width: 1123px) {
    .patroci img{
        width: 300px;
    }
    .patroci{
        width: 50%;
    }
}
.patroci{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 1px 1px 7px rgba(255, 255, 255, 0.616);
    
    margin: auto;

    padding: 10px 20px 10px 15px;
    width: 50%;

    margin-top: 50px;
    margin-bottom: 50px;
}



footer nav{
    margin-top: 20px;
    text-align: center;
}
footer nav a{
    padding-left: 40px;
    text-decoration: none;
    color: #ffffff;
    
    font-family: 'Arvo', serif;
    
}
footer nav a:hover{

    text-decoration: underline;
    font-size: 17px;
    
}
.nav_social{
    display: flex;
    flex-direction: column;
}
.logo-github{
    width: 50px;
}
#caixa_github{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
    font-family: 'Arvo', serif; 
}
